

<ion-tabs>
  <ion-tab-bar slot="start">
  <ion-tab-button tab="descubrir">
  <ion-label>Descubrir</ion-label>
  <ion-icon name="search"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="ofertas">
  <ion-label>Ofertas</ion-label>
  <ion-icon name="ticket-outline"></ion-icon>
  </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
